<header class="header">
  <a href="/" class="header_logo">Admin Panel</a>
  <nav class="header_nav">
    <ul class="header_nav_list">
      <li class="header_nav item">
        <a href="/" class="header_nav_link">Home</a>
      </li>
      <li class="header_nav item">
        <a href="/about" class="header_nav_link">About</a>
      </li>
      <li class="header_nav item">
        <a href="/contact" class="header_nav_link">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="header__button">
    <a href="/logout" class="btn">Logout</a>
  </div>
</header>
