<section class="about-section">
  <div class="container">
    <h1>Contact Us</h1>
    <p class="white">
      I'd love to hear from you! Connect with me on my professional platforms or
      reach out via email.
    </p>

    <ul style="list-style: none; padding: 0; display: flex; gap: 15px">
      <li class="white">
        <a
          href="https://www.linkedin.com/in/lokendarsingh/"
          target="_blank"
          class="white"
        >
          <img
            src="https://img.icons8.com/ios-filled/20/ffffff/linkedin.png"
            alt="LinkedIn Icon"
          />
        </a>
      </li>
      <li class="white">
        <a href="mailto:lokendarsingh5983@gmail.com" class="white">
          <img
            src="https://img.icons8.com/ios-filled/20/ffffff/email.png"
            alt="Email Icon"
          />
        </a>
      </li>
      <li class="white">
        <a href="https://github.com/lokify" target="_blank" class="white">
          <img
            src="https://img.icons8.com/ios-filled/20/ffffff/github.png"
            alt="GitHub Icon"
          />
        </a>
      </li>
    </ul>

    <p class="white">
      Let's continue exploring the mysteries of Westeros together!
    </p>
  </div>
</section>
